.bodyservicios{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 30px;
    background-color: beige;
}
h2{
    color: blue;
}

.img{
   width: 300px;
   height: 300px;
   text-align: right;
   justify-content: right;
   padding-left: 200px;
   padding-right: 200px;
   
   
}

.div{
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
}
